.Cell {
  border-radius: 12%;
  height: 100px;
  width: 100px;
  background-color: rgba(169, 169, 169, 0.106);
  cursor: pointer;
}

.Cell:hover {
  border-radius: 12%;
  height: 100px;
  width: 100px;
  background-color: rgba(169, 169, 169, 0.706);
  cursor: pointer;
}

.Cell-lit {
  background-color: rgb(233, 214, 41);
}

.Cell-lit:hover {
  background-color: rgba(233, 214, 41, 0.632);
}